In [15]:
# from sklearn.impute import imputer
from sklearn.impute import SimpleImputer
import pandas as pd

In [16]:
data = pd.read_excel(r"C:\Users\USER\OneDrive\Desktop\Machine_Learning\Data_Cleaning\expense3.xlsx")
data.head(10)

,Date,Category,Sub-Category,Amount,Payment Mode,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2023-01-01,Grocery,Grocery,30,Cash,NaN,30106.0,0.0
1,2023-01-02,Food,Restaurant,890,UPI,NaN,NaN,NaN
2,2023-01-04,Food,Zomato,257,Cash,NaN,342.0,0.0
3,2023-01-06,Essentials,Diary,78,UPI,NaN,343.0,24263.0
4,2023-01-06,Essentials,Perfume,1500,Cash,NaN,344.0,8002.0
5,2023-01-09,Grocery,Fruits and Veggies,456,Cash,NaN,345.0,3114.0
6,2023-01-10,Bills,House Rent,16000,UPI,NaN,346.0,NaN
7,2023-01-10,Grocery,Tomato KetchUp,70,UPI,NaN,347.0,NaN
8,2023-01-12,Food,Chai,15,UPI,NaN,348.0,NaN
9,2023-01-15,Essentials,Salt and Sugar,234,Cash,NaN,349.0,NaN

In [25]:
s1 = SimpleImputer(strategy = "mean")
ar = s1.fit_transform(data[['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7']])
# data.select_dtypes(include = "float64").columns

C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\impute\_base.py:598: UserWarning: Skipping features without any observed values: ['Unnamed: 5']. At least one non-missing value is needed for imputation with strategy='mean'.
  warnings.warn(

In [32]:
new_dataset = pd.DataFrame(ar, columns = data.select_dtypes(include = "float64").columns)
data.isnull().sum()

ValueError: Shape of passed values is (29, 2), indices imply (29, 3)

In [31]:
# new_dataset.isnull().sum()
new_dataset

NameError: name 'new_dataset' is not defined