In [1]:
import pandas as pd

In [5]:
dataset = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Github\Machine_Learning_Github\Machine_Learning_Fundamentals\010_Supervised_machine_learning\002_Classification_Learning\Social_Network_Ads.csv")
dataset.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [ ]:
#  Predict the purchased based on the user Age